name: Security Checker

on: [ pull_request ]

jobs:
  security-checker:
    name: Symfony Security Checker

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.0
      - uses: symfonycorp/security-checker-action@v5

